<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SAITSDB?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Cheka@2015</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="its/model/Motivo.hbm.xml"/>
    <mapping resource="its/model/PlanillaAsistencia.hbm.xml"/>
    <mapping resource="its/model/ClasTem.hbm.xml"/>
    <mapping resource="its/model/TarjetaCobro.hbm.xml"/>
    <mapping resource="its/model/Carrera.hbm.xml"/>
    <mapping resource="its/model/Actividad.hbm.xml"/>
    <mapping resource="its/model/Benefactor.hbm.xml"/>
    <mapping resource="its/model/Recomendacion.hbm.xml"/>
    <mapping resource="its/model/Voluntariado.hbm.xml"/>
    <mapping resource="its/model/Tematico.hbm.xml"/>
    <mapping resource="its/model/FacturacionDetalle.hbm.xml"/>
    <mapping resource="its/model/Ajustes.hbm.xml"/>
    <mapping resource="its/model/Malla.hbm.xml"/>
    <mapping resource="its/model/Materia.hbm.xml"/>
    <mapping resource="its/model/Barrio.hbm.xml"/>
    <mapping resource="its/model/Timbrado.hbm.xml"/>
    <mapping resource="its/model/Facturacion.hbm.xml"/>
    <mapping resource="its/model/Semestre.hbm.xml"/>
    <mapping resource="its/model/Cobro.hbm.xml"/>
    <mapping resource="its/model/CalDet.hbm.xml"/>
    <mapping resource="its/model/Unidad.hbm.xml"/>
    <mapping resource="its/model/Autor.hbm.xml"/>
    <mapping resource="its/model/Organizacion.hbm.xml"/>
    <mapping resource="its/model/Caja.hbm.xml"/>
    <mapping resource="its/model/FormaPago.hbm.xml"/>
    <mapping resource="its/model/Proveedor.hbm.xml"/>
    <mapping resource="its/model/MallaDet.hbm.xml"/>
    <mapping resource="its/model/FormaAca.hbm.xml"/>
    <mapping resource="its/model/Inscripcion.hbm.xml"/>
    <mapping resource="its/model/Empresa.hbm.xml"/>
    <mapping resource="its/model/PreDet.hbm.xml"/>
    <mapping resource="its/model/Ciudad.hbm.xml"/>
    <mapping resource="its/model/Entidad.hbm.xml"/>
    <mapping resource="its/model/PlanMateria.hbm.xml"/>
    <mapping resource="its/model/Usuario.hbm.xml"/>
    <mapping resource="its/model/Prestamo.hbm.xml"/>
    <mapping resource="its/model/Deposito.hbm.xml"/>
    <mapping resource="its/model/Calificacion.hbm.xml"/>
    <mapping resource="its/model/Persona.hbm.xml"/>
    <mapping resource="its/model/Sucursal.hbm.xml"/>
    <mapping resource="its/model/Curso.hbm.xml"/>
    <mapping resource="its/model/Titulo.hbm.xml"/>
    <mapping resource="its/model/AdqDet.hbm.xml"/>
    <mapping resource="its/model/ChequeCobro.hbm.xml"/>
    <mapping resource="its/model/Nacionalidad.hbm.xml"/>
    <mapping resource="its/model/EdiSell.hbm.xml"/>
    <mapping resource="its/model/Adquisicion.hbm.xml"/>
    <mapping resource="its/model/PlaAsistenciaDet.hbm.xml"/>
    <mapping resource="its/model/Stock.hbm.xml"/>
    <mapping resource="its/model/Beca.hbm.xml"/>
    <mapping resource="its/model/Devolucion.hbm.xml"/>
    <mapping resource="its/model/AperCie.hbm.xml"/>
    <mapping resource="its/model/NivelEst.hbm.xml"/>
    <mapping resource="its/model/Tpprov.hbm.xml"/>
    <mapping resource="its/model/Cuotas.hbm.xml"/>
    <mapping resource="its/model/Articulo.hbm.xml"/>
    <mapping resource="its/model/Profesion.hbm.xml"/>
    <mapping resource="its/model/DevDet.hbm.xml"/>
    <mapping resource="its/model/Profesor.hbm.xml"/>
    <mapping resource="its/model/PlanCurso.hbm.xml"/>
    <mapping resource="its/model/TpArt.hbm.xml"/>
    <mapping resource="its/model/Titular.hbm.xml"/>
    <mapping resource="its/model/Cheque.hbm.xml"/>
    <mapping resource="its/model/TpAdq.hbm.xml"/>
    <mapping resource="its/model/Stand.hbm.xml"/>
    <mapping resource="its/model/Tarjeta.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
